USE [ExtJS]
GO
/****** Object:  Table [dbo].[YAYINEVLERI]    Script Date: 11/30/2010 08:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[YAYINEVLERI](
	[RID] [int] IDENTITY(1,1) NOT NULL,
	[YAYINEVI] [varchar](50) NULL,
	[TEL] [varchar](11) NULL,
	[ADRES] [varchar](70) NULL,
	[MAIL] [varchar](50) NULL,
 CONSTRAINT [PK_YAYINEVLERI] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YKITAPLAR]    Script Date: 11/30/2010 08:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[YKITAPLAR](
	[RID] [int] IDENTITY(1,1) NOT NULL,
	[KITAPAD] [varchar](100) NULL,
	[ISBN] [varchar](50) NULL,
	[SADET] [int] NULL,
	[BASIMTARIHI] [smallint] NULL,
	[KAYITTARIHI] [smalldatetime] NULL CONSTRAINT [DF_YKITAPLAR_KAYITTARIHI]  DEFAULT (getdate()),
	[BIRIMFIYATI] [smallmoney] NULL,
	[TURAD] [varchar](50) NULL,
	[TANIM] [varchar](250) NULL,
	[YAYINEVI] [varchar](50) NULL,
	[TEL] [varchar](11) NULL,
	[ADRES] [varchar](70) NULL,
	[MAIL] [varchar](50) NULL,
	[AD] [varchar](50) NULL,
	[SOYAD] [varchar](50) NULL,
	[HAKKINDA] [varchar](max) NULL,
 CONSTRAINT [PK_YKITAPLAR] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YAZARLAR]    Script Date: 11/30/2010 08:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[YAZARLAR](
	[RID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[SOYAD] [varchar](20) NULL,
	[HAKKINDA] [varchar](max) NULL,
 CONSTRAINT [PK_Yazarlar] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TURLER]    Script Date: 11/30/2010 08:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TURLER](
	[RID] [int] IDENTITY(1,1) NOT NULL,
	[TURAD] [varchar](70) NULL,
	[TANIM] [varchar](250) NULL,
 CONSTRAINT [PK_TURLER] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KITAPLAR]    Script Date: 11/30/2010 08:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KITAPLAR](
	[RID] [int] IDENTITY(1,1) NOT NULL,
	[YAZARRID] [int] NULL,
	[TURRID] [int] NULL,
	[YAYINEVIRID] [int] NULL,
	[KITAPAD] [varchar](100) NULL,
	[ISBN] [varchar](50) NULL,
	[SADET] [int] NULL,
	[BASIMTARIHI] [smallint] NULL,
	[KAYITTARIHI] [smalldatetime] NULL CONSTRAINT [DF_KITAPLAR_KAYITTARIHI]  DEFAULT (getdate()),
	[BIRIMFIYATI] [smallmoney] NULL,
 CONSTRAINT [PK_Kitaplar] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_KITAPLAR_TURLER]    Script Date: 11/30/2010 08:56:10 ******/
ALTER TABLE [dbo].[KITAPLAR]  WITH CHECK ADD  CONSTRAINT [FK_KITAPLAR_TURLER] FOREIGN KEY([TURRID])
REFERENCES [dbo].[TURLER] ([RID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KITAPLAR] CHECK CONSTRAINT [FK_KITAPLAR_TURLER]
GO
/****** Object:  ForeignKey [FK_KITAPLAR_YAYINEVLERI]    Script Date: 11/30/2010 08:56:10 ******/
ALTER TABLE [dbo].[KITAPLAR]  WITH CHECK ADD  CONSTRAINT [FK_KITAPLAR_YAYINEVLERI] FOREIGN KEY([YAYINEVIRID])
REFERENCES [dbo].[YAYINEVLERI] ([RID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KITAPLAR] CHECK CONSTRAINT [FK_KITAPLAR_YAYINEVLERI]
GO
/****** Object:  ForeignKey [FK_KITAPLAR_YAZARLAR]    Script Date: 11/30/2010 08:56:10 ******/
ALTER TABLE [dbo].[KITAPLAR]  WITH CHECK ADD  CONSTRAINT [FK_KITAPLAR_YAZARLAR] FOREIGN KEY([YAZARRID])
REFERENCES [dbo].[YAZARLAR] ([RID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KITAPLAR] CHECK CONSTRAINT [FK_KITAPLAR_YAZARLAR]
GO
